header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
header img {
  width: 40px;
  margin-right: 12px;
}
header p {
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.Programe {
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px rgb(219, 214, 214);
}
.Programe p {
  font-weight: bold;
  font-size: 14px;
}
.Programe img {
  /* width: 68px;
  height: 90px; */
  margin-left: 28px;
  margin-right: 13px;
  border-radius: 4px;
  object-fit: cover;
}

.detail {
  width: 100%;
  height: 90px;
}
.detail h2 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
}
.detail h3 {
  margin-bottom: 5px;
  font-size: 14px;
  color: darkgray;
}
.detail em {
  font-weight: bold;
  font-size: 14px;
  margin-right: 13px;
}
.detail strong {
  color: red;
}
